/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

##Assets compilados por Laravel Mix
/public/css/app.css
/public/js/app.js

##IDES
/.idea
/.vscode
