/* =================================
------------------------------------
  Estilos custom Preludio
  Version: 1.0
 ------------------------------------ 
 ====================================*/

.flex-cont{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.w33{
    width: 30%;
    margin: 0.5em;
}

@media screen and (max-width: 576px) {
    .flex-cont {
        display: block;
    }
    .w33 {
        width: 96%;
    }
}

.sub-line{
    border-bottom: 2px solid black;
}

.enlace{
    color: black;
}

.derecha{
    text-align: right;
}
.rs{
    color:#79a304;
    font-size: 30px;;
}

.galeria{
       object-fit: cover;
       height: 290px;
}

.card{
    height: min-content !important;
}

.page-header-section.reduce{
	height: 285px;
	padding-top: 100px;
}

a.linkHeader{
    text-decoration: none !important;
}

.borde{
    border:2px solid;
}

.comentario{
    width:100%;
    resize:none;
    height: 6rem;
    font-size: 1.5rem;
}
.reseña{
    font-size:1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.calificacion{
    width: 10px;
    height: 1.5rem;
}

.right{
    float:right;
}
.mover{
    position: right;
}